body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #1F2937;

}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    background-color: #1F2937;
}

.first-section-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;
    align-items: baseline;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.description {
    color: #E5E7EB;
    font-size: 24px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

img {
    max-width: 300px;
}

.second-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
}

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.productos {
    display: flex;
    justify-content: center;
    gap: 50px;
   
}

.imagen {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #1F2937;
    align-items: center;
    gap: 16px;
}